.wrapper-auth {
    margin: auto;
    padding: auto;
    padding-top: 20px;
    background-color: #fff;
    width: 800px;
    height: 100ch;
}

#auth  {
    border: 2px solid rgba(159, 159, 180, 0.421);
    background-color: rgba(221, 223, 234, 0.518);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin: 30px;
    font-size: 25px;
}

#auth .input-text {
    width: 90%;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(159, 159, 180, 0.484);
    padding: 5px;
    font-size: 20px;
}

#auth #btn-submit {
    background-color: rgb(51, 154, 51);
    color: #fff;
    padding: 5px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

#auth a {
    color: rgb(108, 96, 188);
    text-decoration: none;
}