.cabinet .wrapper-work {
    display: inline-block;
    background-color: #fff;
    width: 70%;
    height: 5000px;
    margin-top: 30px;
    margin-left: 50px;
}

.cabinet aside {
    display: inline-block;
    position: fixed;
    width: 22%;
    height: 70%;
    background-color: #fff;
    right: 20px;
    margin-top: 30px;
}

