.cabinet .wrapper-work {
    display: inline-block;
    background-color: #fff;
    width: 1070px;
    height: 5000px;
    margin-top: 30px;
    margin-left: 50px;
}

.cabinet .wrapper-work h2 {
    margin: 20px 50px;
}

.cabinet .wrapper-work .wrapper-filtres {
    width: 490px;
    display: inline-block;
    margin-left: 50px;
}

.wrapper-work .wrapper-filtres .filtr .left {
    float: left;
}

.wrapper-work .wrapper-filtres .filtr .right {
    float: right;
}

.work-panel-for-table .button{
    display: inline-block;
    align-content: right;
    position: relative;
    top: 108px;
    
}
.work-panel-for-table button{
    width: 120px;
    margin-left: 25px;
    height: 50px;
}

.cabinet aside {
    display: inline-block;
    position: fixed;
    width: 345px;
    height: 70%;
    background-color: #fff;
    right: 20px;
    margin-top: 30px;
}

.wrapper-table {
    height: 500px;
    width: 1000px;
    margin: 20px;
    overflow-y: auto;
    overflow-x: auto;
}

table {
	width: 100%;
    height: 1000px;
	border: none;
	margin-bottom: 20px;
}
table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
    
}

table th {
    position: sticky;
    top: 0;
    background-color: #fff;
}

table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
table tbody tr:nth-child(even){
	background: #f3f3f3;
}
table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

