li {
    list-style-type: none;
}

.header {
    background-color: rgba(205, 32, 32, 0.832);
    height: 70px;
    display: flex;
    justify-content: center;
}

.header a {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    color: #fff;
}

.wrapper {
    background-color: #fff;
    width: 100px;
    height: 100px;
}

.site {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(255, 192, 192, 0.467);
    font-size: 20px;
}

.site h1{
   font-size: 100px; 
   font-family: sans-serif;
   margin-bottom: 15px;
   text-align: center;
}

.site .center {
    text-align: center;
    margin: auto;
    padding: auto;
    padding-top: 20px;
    background-color: #fff;
    width: 800px;
    height: 100ch;
}

.site .center button {
    background-color: rgba(205, 32, 32, 0.832);
    height: 70px;
    width: 120px;
    border-radius: 10px;
    font-size: larger;
}

.site .discription {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.199);
    padding: 15px;
    width: 600px;
    margin-top: 30px;
    line-height: 1.6;
}