#site {
    background-color: rgb(224, 198, 93);
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(241, 255, 113);
    height: 70px;
    display: flex;
    justify-content: center;
}

.header a {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}
